@model app_formulario_crud.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}
<script>
    function mascaraCpf() {
        var cpf = document.getElementById('cpf')
        if (cpf.value.lenght == 3 || cpf.value.lenght == 7) {
            cpf.value += "."
        }
        if (cpf.value.lenght == 11) {
            cpf.value += "-"
        }
    }

</script>
<h1>Novo Funcionário</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome</label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPF" class="control-label">CPF</label>
                    <input asp-for="CPF" class="form-control" id="cpf" maxlength="14" onclick="(mascaraCpf())" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-mail</label>
                    <input asp-for="Email" class="form-control" placeholder="exemplo@email.com.br" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label">Telefone</label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">Habilitação</label>
                    <select id="habilitacao-select" class="form-control">
                        <option selected>Selecione...</option>
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Categoria" class="control-label">Categoria</label>
                    <input asp-for="Categoria" class="form-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinguaEstrangeira" class="control-label">Língua Estrangeira</label>
                    <input asp-for="LinguaEstrangeira" class="form-control" />
                    <span asp-validation-for="LinguaEstrangeira" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label">Estado</label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cidade" class="control-label">Cidade</label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CEP" class="control-label">CEP</label>
                    <input asp-for="CEP" class="form-control" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Logradouro" class="control-label">Logradouro</label>
                    <input asp-for="Logradouro" class="form-control" />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Numero" class="control-label">Número</label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Complemento" class="control-label">Complemento</label>
                    <input asp-for="Complemento" class="form-control" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cargo" class="control-label">Cargo</label>
                    <input asp-for="Cargo" class="form-control" />
                    <span asp-validation-for="Cargo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SalarioProposto" class="control-label">Salário Proposto</label>
                    <input asp-for="SalarioProposto" class="form-control" />
                    <span asp-validation-for="SalarioProposto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
                <div>
                    <a asp-action="Index" type="button" class="btn btn-info">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
