@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Formulário para Cadastro de Funcionários</h1>
    <p>texto legal aqui.... <a href="https://docs.microsoft.com/aspnet/core">link opcional aqui....</a>.</p>
</div>
